h1,h2 {
    position: center;
    background-color: rgb(231, 157, 108);
    color: black;
}

#generate {
    padding-left: 10%;
    background-color: brown;
}

#copy {
    padding-left: 10%;
    background-color: green;
}